@charset "UTF-8";


.table1{
	border: 3px solid #ffcf53; 
	  background-color: #ffebb5; 
	margin-left:auto; 
    margin-right:auto;

}


.tr1{

 	 background-color: #ffebb5; 


}
.button{
	width:120px;
	height:30px;
	background-color: #ffebb5;
}